.pageContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 10;
}

.contents {
    position: relative;
    z-index: 20; 
    text-align: center;
    color: white;
    /* padding: 2rem; */
}

.textContainer {
    margin-bottom: 1rem;
}

.getStartedButton {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: 0.3s;
}

.getStartedButton:hover {
    background-color: white;
    color: black;
}

.video {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1; 
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.overlay {
    position: fixed; 
    inset: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 10; 
}

